{{!-- creacion de mini interface --}}
<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 400px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="https://media.istockphoto.com/id/1405728317/es/vector/conexi%C3%B3n-de-red-global-mundo-mapa-punto-y-la-l%C3%ADnea-de-composici%C3%B3n-concepto-de-negocio-global.jpg?s=2048x2048&w=is&k=20&c=r8KHJFO6PJDSBozqMp7Ll3lVk8UWvquuPbP8MVaadKg=" alt="logo" style="width: 150px;heigth: 150px; display:block">
                <h3 class="text-uppercase text-center p-4">Base de datos de escuela tecnica N°1 luciano reyes</h3>
            </div>
            <div class="card-body text-center">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quos est aliquam. Aliquid quos omnis neque fugiat. Illum fugit accusantium minima nisi neque hic optio, ab, dolorum atque, quod cumque!
                </p>
                <a href="/add" class="btn btn-primary">Crear un registro de alumno</a>
            </div>
        </div>
    </div>
</main>